
.student-card {
    max-width: 150px;
    text-align: center;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #cfcfcf;
    display: inline-block;
    margin: 10px;
}

.student-card:hover {
    background: skyblue;
}

