<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01-useContext四種應用</title>

    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

</head>
<body>

    <h1>什麼是 useContext？</h1>
        useContext 是 React 提供的 Hook，用於在函數組件中直接使用 React 的 Context API。
        <br>
        它允許我們從任何組件中存取共享的狀態或資料，而不必手動將資料作為屬性傳遞（prop drilling）。
        <br>
        這在需要跨多層組件共享狀態的情況下非常有用，例如主題（theme）、語言設定（localization）、用戶認證狀態（user authentication）等。
        <br>

    <h2>useContext 的常見用法</h2>
        全局主題切換（Theme Switching）：將應用的主題（如淺色和深色模式）存放在 Context 中，然後在應用的任何地方存取和切換。
        <br>
        國際化（Localization）：在應用中提供多語言支持，通過 Context 存儲和提供當前語言設置。
        <br>
        用戶認證（User Authentication）：存儲和提供當前用戶的認證狀態和相關數據。
        <br>
        配置設定（Configuration Settings）：用來傳遞某些全局設定，比如 API 配置，環境變數等。
        <br>



    <h2>1. 全局主題切換（Theme Switching）</h2>
    <div id="root1"></div>
    <script type="text/babel">
        const ThemeContext = React.createContext();
        // 主題提供者
        function ThemeProvider({ children }) {
            const [theme, setTheme] = React.useState('light');
            const toggleTheme = () => setTheme((prevTheme) => (prevTheme === 'light' ? 'dark' : 'light'));
            return (
                <ThemeContext.Provider value={{ theme, toggleTheme }}>
                    {children}
                </ThemeContext.Provider>
            );
        }
        // 使用主題的組件
        function ThemedComponent() {
            const { theme, toggleTheme } = React.useContext(ThemeContext);
            return (
                <div style={{ background: theme === 'light' ? '#fff' : '#333', color: theme === 'light' ? '#000' : '#fff' }}>
                    <p>當前主題: {theme}</p>
                    <button onClick={toggleTheme}>切換主題</button>
                </div>
            );
        }
        // App
        const root1 = ReactDOM.createRoot(document.getElementById("root1"));
        root1.render(
            <ThemeProvider>
                <ThemedComponent />
            </ThemeProvider>
        );
    </script>


    <h2>3. 國際化（Localization）</h2>
    在應用中實現多語言支持。
    <div id="root3"></div>
    <script type="text/babel">// 定義語言 Context
        const LanguageContext = React.createContext();
        
        // 語言提供者
        function LanguageProvider({ children }) {
          const [language, setLanguage] = React.useState('en');
        
          const switchLanguage = (lang) => setLanguage(lang);
        
          return (
            <LanguageContext.Provider value={{ language, switchLanguage }}>
              {children}
            </LanguageContext.Provider>
          );
        }
        
        // 使用語言 Context 的組件
        function LanguageSwitcher() {
          const { language, switchLanguage } = React.useContext(LanguageContext);
          return (
            <div>
              <p>當前語言: {language}</p>
              <button onClick={() => switchLanguage('en')}>English</button>
              <button onClick={() => switchLanguage('zh')}>中文</button>
            </div>
          );
        }
        const root3 = ReactDOM.createRoot(document.getElementById("root3"));
        root3.render(
            <LanguageProvider>
                <LanguageSwitcher />
            </LanguageProvider>
        );
    </script>




<!-- 
    <h2>2. 用戶認證（User Authentication）</h2>
    用來在應用中存儲和管理用戶的認證狀態。
    <div id="root2"></div>
    <script type="text/babel">
        // 定義用戶 Context
        const AuthContext = React.createContext();

        // 用戶提供者
        function AuthProvider({ children }) {
            const [user, setUser] = React.useState(null);

            const login = (newUser) => setUser(newUser);
            const logout = () => setUser(null);

            return (
                <AuthContext.Provider value={{ user, login, logout }}>
                    {children}
                </AuthContext.Provider>
            );
        }
        // 使用用戶 Context 的組件
        function UserProfile() {
            const { user, logout } = React.useContext(AuthContext);

            return user ? (
                <div>
                    <p>歡迎, {user.name}!</p>
                    <button onClick={logout}>登出</button>
                </div>
            ) : (
                <p>請登錄。</p>
            );
        }
        // App 組件
        const root2 = ReactDOM.createRoot(document.getElementById("root2"));
        root2.render(
            <AuthProvider>
                <UserProfile />
            </AuthProvider>
        );
    </script>
 -->
 
</body>
</html>