
.TypeTab {
    padding: 5px 10px;
    border: 1px solid skyblue;
    background: skyblue;
    border-radius: 20px;
    margin-right: 10px;
    display: inline-block;
}
.TypeTab:hover {
    background: white;
}
