
.card {
    max-width: 250px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #cfcfcf;
    display: inline-block;
    text-align: center;
}

.card img {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}
