

.todo-item {
    background: skyblue;
    padding: 20px;
}

.todo-item:hover {
    background: blue;
    color: white;
}

.todo-item .btn {
    display: none;
}

.todo-item:hover .btn {
    display: inline;
}



