
.prac-card {
    max-width: 200px;
    display: inline-block;
    padding: 40px;
    margin: 10px;
    border: 2px solid #cfcfcf;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #cfcfcf;
}

.prac-card img {
    max-width: inherit;
    border-radius: 50%;
}
