<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03-常見6hook</title>

    <!-- 
        React 18 中最常使用的 Hooks 包括 useState、useEffect、useRef、useContext、useReducer 和 useMemo 等。
        這些 Hooks 用於管理狀態、處理副作用、存取 DOM 元素、共享狀態、複雜狀態邏輯以及效能最佳化等方面。
        
        如下常見五種範例:
     -->

    <!-- 引入 React 和 ReactDOM -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>

    <h2>1. useState 和 useEffect：管理狀態與處理副作用</h2>
    <div>
        範例：實作一個簡單的計時器，元件掛載時啟動計時器，元件卸載時清除計時器。
    </div>
    prev 參數是哪來的? 為何沒使用到 seconds ?  
        prev 参数的来源：
        prev 是 setSeconds 的回调函数的参数：
        在 setSeconds(prev => prev + 1) 这行代码中，setSeconds 接收一个回调函数作为参数，这个回调函数的参数 prev 是当前状态 seconds 的前一个值。

        prev 表示在更新前的 seconds 状态值，也就是“前一个状态值”。
        通过使用这个回调函数的方式，React 能确保在异步状态更新的情况下，你总是可以基于最新的状态值进行计算。
        为什么没有直接使用 seconds：
        回调函数 vs. 直接使用状态值：
        如果你直接在 setSeconds 中使用 seconds + 1，在高频率的状态更新下（例如通过 setInterval），
        可能会因为 seconds 状态在更新时还未刷新，导致无法获取到最新的状态值。这可能会导致计时器不准确。

        使用 prev 回调函数则避免了这种情况。React 会确保你每次获取的 prev 都是最新的状态值。

    <div id="root1"></div>
    <script type="text/babel">
        const { useState, useEffect, useRef, useContext, createContext, useReducer, useMemo } = React;

        //const { useState, useEffect } = React;
        function Timer() {
            const [seconds, setSeconds] = useState(0);

            useEffect(() => {
                const intervalId = setInterval(() => {
                    setSeconds(prev => prev + 1);
                }, 1000);
                return () => clearInterval(intervalId);
            }, []);

            return <h3>Seconds: {seconds}</h3>;
        }
        const root1 = ReactDOM.createRoot(document.getElementById('root1'));
        root1.render(<Timer />);
    </script>


    <h2>2. useRef 和 useEffect：訪問 DOM 並與副作用結合</h2>
    <div>        
        範例：建立一個輸入框，頁面載入時自動取得焦點，並在輸入內容時記錄長度。
    </div>

    <div id="root2"></div>
    <script type="text/babel">
        //const { useRef, useState, useEffect } = React;

        function TextInputWithFocus() {
            const inputRef = useRef(null);
            const [length, setLength] = useState(0);

        /* 
            // 沒有用處
            useEffect(() => {
                inputRef.current.focus();
            }, []);
             */

            const handleChange = (event) => {
                setLength(event.target.value.length);
            };

            return (
                <div>
                    <input ref={inputRef} type="text" onChange={handleChange} placeholder="Start typing..." />
                    <p>Length: {length}</p>
                </div>
            );
        }

        const root2 = ReactDOM.createRoot(document.getElementById('root2'));
        root2.render(<TextInputWithFocus />);
    </script>



    <h2>3. useContext：共享狀態</h2>
    <div>        
        範例：建立一個簡單的主題切換功能，使用 useContext 共享主題狀態。
    </div>
    <style>
        .dark {
            background-color: black;
            color: white;
        }
        .light {
            background-color: white;
            color: black;
        }
    </style>
    <div id="root3"></div>
    <script type="text/babel">
        // const { useState, useContext, createContext } = React;

        const ThemeContext = createContext();

        function ThemeProvider({ children }) {
            const [theme, setTheme] = useState('light');

            const toggleTheme = () => {
                setTheme(prevTheme => prevTheme === 'light' ? 'dark' : 'light');
            };

            return (
                <ThemeContext.Provider value={{ theme, toggleTheme }}>
                    {children}
                </ThemeContext.Provider>
            );
        }
        function ThemedButton() {
            const { theme, toggleTheme } = useContext(ThemeContext);
            return (
                <button className={theme} onClick={toggleTheme}>
                    Toggle Theme
                </button>
            );
        }
        function App() {
            return (
                <ThemeProvider>
                    <ThemedButton />
                </ThemeProvider>
            );
        }
        const root3 = ReactDOM.createRoot(document.getElementById('root3'));
        root3.render(<App />);
    </script>


    <h2>4. useReducer：管理複雜狀態邏輯</h2>
    <div>        
        範例：實作一個簡單的計分器，使用 useReducer 管理多個操作（增加、減少、重設分數）。
    </div><div id="root4"></div>
    <script type="text/babel">
        // const { useReducer } = React;
        function reducer(state, action) {
            switch (action.type) {
                case 'increment':
                    return { count: state.count + 1 };
                case 'decrement':
                    return { count: state.count - 1 };
                case 'reset':
                    return { count: 0 };
                default:
                    throw new Error();
            }
        }
        function Counter() {
            const [state, dispatch] = useReducer(reducer, { count: 0 });

            return (
                <div>
                    <h1>Count: {state.count}</h1>
                    <button onClick={() => dispatch({ type: 'increment' })}>Increment</button>
                    <button onClick={() => dispatch({ type: 'decrement' })}>Decrement</button>
                    <button onClick={() => dispatch({ type: 'reset' })}>Reset</button>
                </div>
            );
        }

        const root4 = ReactDOM.createRoot(document.getElementById('root4'));
        root4.render(<Counter />);
    </script>


    <h2>5. useMemo：效能優化</h2>
    <div>        
        範例：建立一個元件，使用 useMemo 計算一個值，以避免不必要的昂貴計算。
    </div>
    <div id="root5"></div>
    <script type="text/babel">
        // const { useState, useMemo } = React;

        function ExpensiveCalculation(num) {
            console.log('Calculating...');
            return num * 2;
        }

        function Counter() {
            const [count, setCount] = useState(0);
            const [input, setInput] = useState('');

            const doubleCount = useMemo(() => {
                return ExpensiveCalculation(count);
            }, [count]);

            return (
                <div>
                    <h1>Count: {count}</h1>
                    <h2>Double Count: {doubleCount}</h2>
                    <button onClick={() => setCount(count + 1)}>Increment</button>
                    <input
                        type="text"
                        value={input}
                        onChange={e => setInput(e.target.value)}
                        placeholder="Type anything..."
                    />
                </div>
            );
        }

        const root5 = ReactDOM.createRoot(document.getElementById('root5'));
        root5.render(<Counter />);
    </script>

</body>
</html>