

<h2>001 尚硅谷react教程 react简介</h2>
https://www.youtube.com/watch?v=Uz_EhDwUnRg&list=PLmOn9nNkQxJFJXLvkNsGsoCUxJLqyLGxu
<br>

課程簡介:
<br>
=> React 全家桶: react-router, reactx(集中狀態管理), PubSub(消息管理？), Ant-Design
<br>

1. react 是什麼？ => 構建 [用戶介面] js庫
<br>
=> ex1. api獲取數據 => 數據處理(過濾, 格式整理) => 操作dom呈現畫面(react專門處理)
<br>
=> 另一種說法: 將 數據 以 html渲染為 視圖View 的 js 庫
<br>

2. react 由誰開發? fb公司, jordan walke 喬丹·瓦爾克
<br>
=> 大致歷程:  2011,於 fb news feed 使用 => 2012, 用於 ig => 2013 發布 => 騰訊, 阿里 大廠
<br>

3. react 解決 原生js 痛點:
<br>
=> (1). 原生js 操作dom => 語法繁瑣 => 難維護                    => jquery 可簡化
=> (2). 原生js 操作dom => 資料: 重編, 重排  => 資料量大效能變低   => jquery 無法提高效能
=> (3). react 可將原生 js [組件化]:
==> a. 原生js 僅能 [模塊化]: 將不同 js 封裝成 *.js 檔
==> b. 框架可將 UI [組建化]: 將 js/html/css/圖... 之 [畫面]封裝

4. react 優點:
<br>
=> (1). react 可 [組建化], 且 [聲明式編碼] => 提高 [開發效率]
<br>
=> (2). 在 [React Native] 中, 可使用 React語法開發 [行動端]
<br>
==>  React Native 使用 GS 編寫 安著/ios
<br>
=> (3). 虛擬DOM + Diff演算法 => 減少 real dom 操作 => 優化效率
<br>
===> 虛擬DOM 存在 client端 電腦的 內存
<br>
https://youtu.be/Uz_EhDwUnRg?list=PLmOn9nNkQxJFJXLvkNsGsoCUxJLqyLGxu&t=1057
<br>
... 先略
<br>





<h2>002 尚硅谷react教程 hello react案例</h2>
https://www.youtube.com/watch?v=QrEbvTxZS04&list=PLmOn9nNkQxJFJXLvkNsGsoCUxJLqyLGxu&index=2
<br>
1. 建置簡易練習環境 => 引入 react 核心庫
<br>
=> babel.min.js => es6 => 
https://unpkg.com/@babel/standalone/babel.min.js
<br>
=> 舊的 react 16.4.0 : 
<br>
https://unpkg.com/react@16.8.0/umd/react.development.js
<br>
https://unpkg.com/react-dom@16.8.0/umd/react-dom.development.js
<br>

2. 核心庫 react.dev 須先 引入, 再引進 周邊,擴展庫 react-dom.dev
<br>








