<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <script src="./lib/react.16.8.0/react.development.js"></script>
    <script src="./lib/react.16.8.0/react-dom.development.js"></script>
    <script src="./lib/react.16.8.0/babel.min.js"></script>

</head>
<body>

  


    <!-- ----------------------------------------------------------------------------------- -->
    <h2> ========== 037 尚硅谷react教程 引出生命周期 callback 回調函數(鉤子hook) ========== </h2>
    https://www.youtube.com/watch?v=M3TSqV0G_dk&list=PLmOn9nNkQxJFJXLvkNsGsoCUxJLqyLGxu&index=37
    <br>
    <!-- ------------------------------------------------- -->
    <h3>37-1. 案例 [效果]</h3>
    <br>
    => (1). h4 透明度 0~1循環, 
    <br>
    => (2). 按下按鈕 h4, button 元件消失
    <br>
    <!-- ------------------------------------------------- -->

    <h3>37-2. 組件Component 卸載unmount</h3>
    <br>
    2. react 中 第一次渲染組件到 DOM , 叫做 ans: 掛載mount;  若將 [組件] 從 DOM 移除, 叫做 ans: 卸載unmount
    <br>
    3. 如下請實作 1-(2), 按下按鈕後, deiv prac37_1 消失 (卸載unmount), 請問要在 ReactDOM 使用什麼語法? ans: unmountComponentAtNode(doc...)
    <br>

    <div id="prac37_2"></div>

    <script type="text/babel">
        console.log("<h2> ========== 037 尚硅谷react教程 引出生命周期 ========== </h2>");

        class MyComponent37_2 extends React.Component {

            unmount = () => {
                ReactDOM.unmountComponentAtNode(document.getElementById("prac37_2"));
            }

            render() {
                return (
                    <div>
                        <h4>React 已經學會了!!</h4>
                        <button onClick={this.unmount}>學透拉!yo! 卸載組件</button>
                    </div>
                );
            }
        }

        ReactDOM.render(<MyComponent37_2/>, document.getElementById("prac37_2"));
    </script>

    
    <h3>37-3. [錯誤1] render 內修改 state</h3>

    1. 提示1: 組件全域賦值 state, 設定 {opacityH4: 0.5}, 請實作
    <br>
    2. 提示2: 於 組件 render() 內使用 setInterval 修改 state, 改變 h4 透明度, 推測變化, 請實作
    <br>
    3. 承上實作, 會發生什麼事? ans: h4 閃爍會越來越快, setInterval 執行速度飆高
    <br>
    4. 為何會有此種異常? ans: setState 修改狀態state, 會再次觸發 render() 造成 遞歸
    <br>

    <div id="prac37_3"></div>

    <script type="text/babel">
        console.log("<h3>37-3. [錯誤1] render 內修改 state</h3>");
        class MyComponent37_3 extends React.Component {
            //1. 提示1: 組件全域賦值 state, 設定 {opacityH4: 0.5}, 
            //請實作
            state = {opacityH4: 0.5}

            unmount = () => {
                ReactDOM.unmountComponentAtNode(document.getElementById("prac37_3"));
            }

            render() {
                //2. 提示2: 於 組件 render() 內使用 setInterval 修改 state, 改變 h4 透明度, 推測變化, 
                //請實作
                /* 
                setInterval(() => {
                    let _opacityH4 = this.state.opacityH4;
                    if(_opacityH4 <= 0) {
                        _opacityH4 = 1;
                    }
                    else {
                        _opacityH4 -= 0.1;
                    }
                    this.setState({opacityH4: _opacityH4});
                }, 200);
                 */
                return (
                    <div>
                        <h4 style={{opacity: this.state.opacityH4}}>React 已經學會了!! 3</h4>
                        <button onClick={this.unmount}>學透拉!yo! 卸載組件</button>
                    </div>
                );
            }
        }

        ReactDOM.render(<MyComponent37_3/>, document.getElementById("prac37_3"));
    </script>

    <h3>37-4. react [類組件] 生命週期 hook 鉤子函式</h3>
     承 37-3, 進行如下實作
    <br>
    1. react 類組件 初始時 (掛載mount [後]), 使用何種 方法? ans: componentDidMount
    <br>
    2. react 類組件 即將 卸載unmount [前], 使用何種方法? ans: componentWillUnmount
    <br>
    3. 若沒有使用 卸載unmount 鉤子函式
    <br>
    Warning: Can't perform a React state update on an unmounted component. 
    This is a no-op, but it indicates a memory leak in your application. 
    To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.
    in MyComponent37_4
    <br>


    <div id="prac37_4" ></div>
    <script type="text/babel">
        console.log("37-4. react [類組件] 生命週期");
        class MyComponent37_4 extends React.Component {
            //1. 提示1: 組件全域賦值 state, 設定 {opacityH4: 0.5}, 
            //請實作
            state = {opacityH4: 0.5}

            unmount = () => {
                ReactDOM.unmountComponentAtNode(document.getElementById("prac37_4"));
            }

            // 1. react 類組件 初始時 (掛載mount [後]), 使用何種 方法?
            componentDidMount() {
                this.timer = setInterval(()=> {
                    let _opacityH4 = this.state.opacityH4;
                    if(_opacityH4 <= 0) {
                        _opacityH4 = 1;
                    }
                    else {
                        _opacityH4 -= 0.1;
                    }
                    this.setState({opacityH4: _opacityH4});
                }, 200);
            }

            // 2. react 類組件 即將 卸載unmount [前], 使用何種方法?
            componentWillUnmount() {
                clearInterval(this.timer);
            }

            render() {
                return (
                    <div>
                        <h4 style={{opacity: this.state.opacityH4}}>React 已經學會了!! 4 </h4>
                        <button onClick={this.unmount}>學透拉!yo! 卸載組件</button>
                    </div>
                );
            }
        }

        ReactDOM.render(<MyComponent37_4/>, document.getElementById("prac37_4"));

    </script>



    <!-- ----------------------------------------------------------------------------------- -->
    <h2> ========== 038 尚硅谷react教程 生命周期旧 组件挂载流程 ========== </h2>
    https://www.youtube.com/watch?v=uAbfW8PhM2s&list=PLmOn9nNkQxJFJXLvkNsGsoCUxJLqyLGxu&index=38
    <br>
    

    <h3>38-1. [複習] 寫出個計數器</h3>
    1. 請在 class Counter38_1 撰寫出一個, 按下按鈕, 可計算出次數的計數器, 顯示在 h4 
    <br>

    <div id="counter38_1"></div>
    <script type="text/babel">
        console.log("<h2> ========== 038 尚硅谷react教程 生命周期旧 组件挂载流程 ========== </h2>");

        class Counter38_1 extends React.Component {
            state = {count: 0};

            add = () => {
                this.setState({ count: this.state.count+1 });
            }

            render() {
                const {count} = this.state;

                return (
                    <div>
                        <h4>當前次數? { count } </h4>
                        <button onClick={this.add}>點我+1</button>
                    </div>
                );
            }
        }

        ReactDOM.render(<Counter38_1/>, document.getElementById("counter38_1"));
    </script>

    <h3>38-2. 在 計數器 案例中, 增加 掛載流程之 鉤子hook函數</h3>
    1. [類組件] 舊版 生命週期分為 (1). 掛載時 (2). 父組件render時
    <br>
    2. 先談討 [掛載時] 順序: 
    <br>
    3. 在上述 [掛載時] 所有鉤子 埋下 log, 請實作
    <br>

    <div id="counter38_2"></div>
    <script type="text/babel">
        console.log("<h2> ========== 038 尚硅谷react教程 生命周期旧 组件挂载流程 ========== </h2>");

        class Counter38_2 extends React.Component {

            constructor(props) {
                console.log("Counter38_2---constructor");
                super(props);
                this.state = {count: 0};
            }

            componentWillMount() {
                console.log("Counter38_2---componentWillMount");
            }

            componentDidMount() {
                console.log("Counter38_2---componentDidMount");
            }

            add = () => {
                this.setState({ count: this.state.count+1 });
            }

            render() {
                console.log("Counter38_2---render");
                const {count} = this.state;

                return (
                    <div>
                        <h4>38-2. yo 當前次數: { count } </h4>
                        <button onClick={this.add}>點我+1</button>
                    </div>
                );
            }
        }

        ReactDOM.render(<Counter38_2/>, document.getElementById("counter38_2"));
    </script>







    <!-- ----------------------------------------------------------------------------------- -->
    <h2> ==========  ========== </h2>
    <script type="text/babel">
        //console.log("");
    </script>


    <!-- ----------------------------------------------------------------------------------- -->
    <h2> ==========  ========== </h2>
    <script type="text/babel">
        //console.log("");
    </script>



        
</body>
</html>